<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.StudentMapper">
    <update id="update">
        update student
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="no != null and no != ''">no = #{no},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="idCard != null and idCard != ''">id_card = #{idCard},</if>
            <if test="isCollege != null">is_college = #{isCollege},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="degree != null">degree = #{degree},</if>
            <if test="graduationDate != null">graduation_date = #{graduationDate},</if>
            <if test="clazzId != null">clazz_id = #{clazzId},</if>
            <if test="violationCount != null">violation_count = #{violationCount},</if>
            <if test="violationScore != null">violation_score = #{violationScore},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}

    </update>
    <update id="violation">
        UPDATE student
        SET
        violation_count = IFNULL(violation_count, 0) + 1,
        violation_score = IFNULL(violation_score, 0) + #{score}
        WHERE id = #{id}
    </update>
    <delete id="deleteIds">
        DELETE FROM student
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>

    </delete>

    <select id="list" resultType="com.itheima.pojo.Student">
        SELECT s.*, c.name AS clazzName
        FROM student s
        LEFT JOIN clazz c ON s.clazz_id = c.id
        <where>
            <if test="name != null and name != ''">
                AND s.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="degree != null">
                AND s.degree = #{degree}
            </if>
            <if test="clazzId != null">
                AND s.clazz_id = #{clazzId}
            </if>
        </where>
    </select>

    <select id="getStudentById" resultType="com.itheima.pojo.Student">
        SELECT *
        FROM student
        WHERE student.id = #{id}
    </select>
    <select id="countStudentClazzData" resultType="java.util.Map">
        select c.name as 'clazz', count(*) as 'count'
        from student s
        join clazz c
        on s.clazz_id = c.id
        group by s.clazz_id
    </select>
    <select id="countStudentDegreeData" resultType="java.util.Map">
        select
        CASE student.degree
        WHEN 1 THEN '初中'
        WHEN 2 THEN '高中'
        WHEN 3 THEN '大专'
        WHEN 4 THEN '本科'
        WHEN 5 THEN '硕士'
        WHEN 6 THEN '博士'
        ELSE '未知'
        END AS name,
        count(*) as 'value'
        from student
        group by student.degree
    </select>

</mapper>